
body {
    margin: 0;
    height: 100vh;
    background: linear-gradient(180deg, #000000 0%, #0a0a0a 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Arial", sans-serif;
    color: white;
}


.glass-card {
    width: 90%;
    max-width: 600px;
    padding: 40px 30px;
    border-radius: 25px;

   
    background: rgba(255, 255, 255, 0.06);
    border: 1px solid rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(15px);

    text-align: center;
    box-shadow: 0 0 25px rgba(0, 255, 190, 0.25);
}



@keyframes neonBreath {
    0% {
        opacity: 0.75;
        text-shadow: 0 0 8px #00ff6a, 0 0 15px #00ff6a;
    }
    50% {
        opacity: 1;
        text-shadow: 0 0 18px #00ff6a, 0 0 35px #00ff6a, 0 0 50px #00ff6a;
    }
    100% {
        opacity: 0.75;
        text-shadow: 0 0 8px #00ff6a, 0 0 15px #00ff6a;
    }
}



.titulo {
    font-size: 34px;
    margin-bottom: 10px;
    color: #aaffaa;
    text-shadow: 0 0 12px #00ff6a, 0 0 25px #00ff6a;
  animation: neonBreath 3s ease-in-out infinite;
}


.subtexto {
    font-size: 18px;
    opacity: 0.9;
    margin-bottom: 25px;
    line-height: 1.4;
}

.sesion {
    color: #e1ff7d;
    text-shadow: 0 0 10px #d2ff4d;
    margin-bottom: 25px;
}


.botones {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 35px;
}


.btn {
    padding: 14px 22px;
    border-radius: 50px;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    color: #000;
    transition: 0.25s;
    display: inline-block;
}


.btn-cliente,
.btn-admin {
    background: linear-gradient(90deg, #ff2b2b, #ffe600);
    box-shadow: 0 0 10px #ff4747;
}


.btn:hover {
    transform: scale(1.08);
    box-shadow: 0 0 18px #ffffff;
}

.logo {
    width: 140px;
    border-radius: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 25px rgba(0, 255, 190, 0.4);
}

footer {
    font-size: 13px;
    opacity: 0.75;
}
