 body {
      margin: 0;
      font-family: Arial, sans-serif;
      background: linear-gradient(180deg, #0bd71f, #0b0b0b);
      color: white;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    h1 {
      margin: 20px;
    }

    form {
      background: rgba(255, 255, 255, 0.1);
      padding: 30px;
      border-radius: 20px;
      width: 300px;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
      backdrop-filter: blur(5px);
    }

    label {
      display: block;
      margin-bottom: 8px;
      font-weight: bold;
      text-align: left;
    }

    input[type="text"],
    input[type="password"] {
      width: 100%;
      padding: 10px;
      margin-bottom: 15px;
      border: none;
      border-radius: 10px;
      font-size: 14px;
    }

    .btn {
      background: rgb(255, 255, 255);
      color: #1e40af;
      border: none;
      padding: 10px;
      width: 100%;
      font-size: 16px;
      border-radius: 20px;
      cursor: pointer;
      font-weight: bold;
      transition: all 0.3s ease;
      margin-bottom: 30px;
    }

    .btn:hover {
      background: #f3f4f6;
      transform: scale(1.05);
      color: #1e40af;
    }

    .extra {
      margin-top: 15px;
      font-size: 14px;
      color: #f3f4f6;
    }

    .extra a {
      color: cadetblue;
      text-decoration: none;
    }

    .extra a:hover {
      text-decoration: underline;
    }

    .back {
      margin-top: 20px;
      color: #ffd1f9;
      text-decoration: none;
      font-size: 14px;
      display: inline-block;
    }

    .back:hover {
      text-decoration: underline;
    }

    .campos {
      margin-bottom: 20px;
      text-align: left;
      width: 100%;
    }

    img {
      margin-bottom: 15px;
      border-radius: 15px;
      width: 100px;
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
    }