body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(180deg, #0bd71f, #0b0b0b);
  color: white;
  text-align: center;

  
  min-height: 100vh; 
  display: block;
  flex-direction: column;
  justify-content: flex-start; 
  align-items: center;
}

 *{
  box-sizing:border-box;
  margin:0;
  padding:0;
  font-family: Arial, sans-serif;
}



.menu-btn{
  position:fixed;
  top:15px;
  left:15px;
  background: linear-gradient(135deg, #f52e4c, #c3ed05);
  color:white;
  border:none;
  padding:10px 12px;
  font-size:20px;
  border-radius:6px;
  cursor:pointer;
  z-index:30;
}
   .menu-btn:hover {
      background: #0a9e16;
      transform: scale(1.1);
    }


.sidebar{
  position:fixed;
  top:0;
  left:-260px; 
  width:260px;
  height:100vh;
  background:white;
  padding:20px;
  box-shadow:3px 0 10px rgba(0,0,0,0.2);
  transition:left .3s ease;
  z-index:40;
}


.sidebar.open{
  left:0;
}


.close-btn{
  background:none;
  border:none;
  font-size:22px;
  float:right;
  cursor:pointer;
  margin-bottom:10px;
}

.brand{
  margin:10px 0 20px;
  font-size:24px;
  color:#2c7be5;
}


.search {
  position: relative;
  width: 260px;
  margin: 5px auto;
}

.search input {
  width: 100%;
  padding: 12px 45px 12px 15px;
  border: 2px solid #3aaa35;
  border-radius: 12px;
  background: #ffffffd5;
  font-size: 16px;
  outline: none;
  transition: 0.3s;
}

.search input:focus {
  border-color: #f2c200;
  box-shadow: 0 0 10px #f2c2006c;
}

.search-btn {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: none;
  font-size: 20px;
  cursor: pointer;
  color: #3aaa35;
  transition: 0.2s;
}

.search-btn:hover {
  transform: translateY(-50%) scale(1.2);
  color: #f2c200;
}


.nav ul{
  list-style:none;
}

.nav a{
  display:block;
  padding:10px;
  color:#333;
  text-decoration:none;
  border-radius:6px;
  margin-bottom:8px;
}

.nav a:hover{
  background:#e7f0ff;
  color:#f2c200;
}


.main-content{
  padding:40px;
  margin-left:0;
}

@media (min-width: 700px){
  .main-content{
    padding:60px;
  }
}

.banner-inicio {
  width: auto;
  max-width: 900px;
  padding: 10px 10px;
  background: linear-gradient(135deg, #f52e4c, #c3ed05);
  text-align: center;
  border-radius: 15px;
  margin-top: 20px;
  margin: 10px auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.banner-inicio h1 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;

}
.banner-inicio p {
  font-size: 0.9rem;
  margin-top: 10px;
  opacity: 0.9 ;
}



.promociones {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 30px;
  justify-content: center;
  padding-bottom: 40px;
}
.promo-card {
  background: rgba(255, 255,255, 0.1);
  border-radius: 12px;
  padding: 20px;
  width: 250px;
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
}
.promo-card h3 {
  margin: 0;
  font-size: 1.4rem;
  color: #0bd71f;

}
.promo-card p {
  font-size: 1.3rem;
  margin: 10px 0;
  color: #ffe600;
}

.promo-card strong {
  color: #ff5733;
  font-weight: bold;
}
.promo-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.promo-card img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 15px;
}

.promo-card button {
  background: #0bd71f;
  color: #0b0b0b;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s;
}

.promo-card button:hover {
  background: #0a9e16;
  transform: scale(1.3s);
}

.cart-sidebar {
  position: fixed;
  top: 0;
  right: -380px; 
  width: 350px;
  height: 100%;
  padding: 25px;
  color: white;
  backdrop-filter: blur(10px);
  background: rgba(0, 0, 0, 0.45); 
  box-shadow: -5px 0 15px rgba(0, 0, 0, 0.4);
  transition: right 0.35s ease;
  z-index: 1000;

  display: flex;
  flex-direction: column;
}

.cart-sidebar.open {
  right: 0;
}


.cart-sidebar h2 {
  text-align: center;
  font-size: 26px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ffffff55;
  padding-bottom: 10px;
}


.cart-items {
  flex-grow: 1;
  overflow-y: auto;
  margin-bottom: 20px;
}


.close-cart {
  position: absolute;
  top: 15px;
  right: 15px;
  background: #ff0088;
  border: none;
  color: white;
  font-size: 20px;
  padding: 8px 12px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}


.cart-actions {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.cart-actions button {
  padding: 10px;
  font-size: 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background: rgba(255,255,255,0.8);
}

.cart-actions button:hover {
  background: white;
}

.neon-title {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

.neon-title h1 {
  font-size: 30px;
  font-weight: 900;
  color: #fff;
  margin-bottom: 10px;
  letter-spacing: 1px;
  text-shadow: 0 0 8px #00ff4c, 0 0 20px #00ff4c;
}

.neon-title p {
  font-size: 18px;
  color: #e2ffe2;
  opacity: .85;
}

.neon-line {
  width: 180px;
  height: 4px;
  background: linear-gradient(90deg, transparent, #00ff4c, transparent);
  margin: 15px auto 0;
  border-radius: 5px;
  box-shadow: 0 0 12px #00ff4c;
}

.btn-agregar {
  background: #ffdd00;
  color: #0b0b0b;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 10px;
  transition: background 0.3s;
}

.btn-agregar:hover {
  background: #e6c800;
}

.item-carrito {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(255,255,255,0.1);
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 12px;
  gap: 10px;
}

.cantidad-controles {
  display: flex;
  align-items: center;
  gap: 8px;
}

.cantidad-controles button {
  background: #00ff4c;
  border: none;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.btn-eliminar {
  background: #ff0044;
  border: none;
  color: white;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
}
